:root {
  --color-primary: #02468d;
  --color-black: #262626;
  --color-gray1: #d9d9d9;
  --color-gray2: #828282;
  --color-gray3: #333333;
  --color-white: #ffffff;
  --color-red: #eb5757;
  --color-hover: #005ec0;
  --color-active: #013469;
  --color-blue: #e4f1ff;
  --color-yellow: #ffbb00;
}
