@use "styles/mixin" as *;

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_logo {
    width: 172px;

    @include small {
      width: 79px;
    }
  }

  &_right {
    display: flex;
    gap: 38px;
  }
}
